body {
    margin: 5% 10%;
    background-color: rgb(240, 186, 224);
  }
  
  body h1 {
    color: #7a7575;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  }
  
  body label {
    color: #8f8888;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  body select {
    color: #8f8888;
    background-color:  rgb(228, 207, 222);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } 

  article.media-post {
    border: solid 1px #000;
    margin: 2% 3%;
    background-color: #fff;
  }
  
  article.media-post > p {
    background-color: rgba(165, 170, 175, 0.25);
    padding: 1em 2em;
  }
  
  article.media-post > header {
    padding: 1em 2em;
    background-color: rgb(225,232,237);
  }
  
  
  article.media-post > footer ul {
    list-style-type: none;
  }
  
  #modal {
    border-radius: 10px;
    background-color: maroon;
    color: white;
  
    margin: 1em;
    padding: 1em;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #modal p {
    margin-bottom: 0;
  }
  
  .hidden {
    visibility: hidden;
  }